.btn {
  /* FONT */
  font-family: var(--font-buttons), sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  /* SIZE */
  padding: 1.4rem 2.7rem;
  width: fit-content;
  /* GENERAL */
  cursor: pointer;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.39);
}

.btn-navbar {
  display: none;
  z-index: 2;
}

.btn-navbar:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.144);
  transition: 100ms ease-in;
}

@media screen and (min-width: 1200px) {
  .btn-navbar {
    display: block;
  }
}

.btn-hero {
  display: block;
}

.btn-hero-second {
  display: block;
}

.btn-hero:hover {
  transform: translateY(-3px);
  transition: 100ms ease-in;
}

.btn-hero-second:hover {
  transform: translateY(-3px);
  transition: 100ms ease-in;
}

.btn-schedule {
  display: block;
}

.btn-schedule:hover {
  transform: translateY(-2px);
  transition: 100ms ease-in;
}

.btn-more {
  display: block;
}

.btn-more:hover {
  transform: translateY(-2px);
  transition: 100ms ease-in;
}

.btn-add-review {
  display: block;
}

.btn-tips {
  display: block;
}

.btn-tips:hover {
  transform: translateY(-2px);
  transition: 100ms ease-in;
}

.btn-add-review:hover {
  display: block;
}

.icon-google {
  display: block;
}

.btn-submit {
  display: block;
}

.btn-submit:hover {
  transform: translateY(-2px);
  transition: 100ms ease-in;
}

@keyframes showBtnHero {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes showBtnHeroSecond {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes pulsePrimary {
  0% {
    box-shadow: 0 0 0 0 #d70007ce;
  }
  50% {
    box-shadow: 0 0 0 10px #d7000727;
  }
  100% {
    box-shadow: 0 0 0 0 #d7000727;
  }
}
