.btn {
  /* FONT */
  font-family: var(--font-buttons), sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  /* SIZE */
  padding: 1.4rem 2.7rem;
  width: fit-content;
  /* GENERAL */
  cursor: pointer;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.39);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.144);
  transition: 100ms ease-in;
}
