.card-quick-contact {
  width: 100%;
}

.card-whyus {
  height: 100%;
  width: 90%;
}

.card-services {
  height: 100%;
  border: 1px solid rgba(0, 0, 255, 0.13);
}

.card-braces {
  width: 100%;
  height: 100%;
}

.card-reviews {
  height: 100%;
}

.card-faq {
  width: 100%;
  border: 1px solid #000b5b49;
}

@media screen and (min-width: 992px) {
  .card-faq {
    width: 70%;
  }
}
