section {
  padding: 8rem 0;
  scroll-margin-top: 12rem;
}

.section-scroll-margin-top {
  scroll-margin-top: 18rem !important;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.container-fluid {
  padding: 0;
}

.section-whyus {
  margin-top: 0;
  padding: 8rem 0 0 0 !important;
}

@media screen and (min-width: 992px) {
  .section-whyus {
    margin-top: -100px;
    padding: 0 !important;
  }
}

.subsection {
  padding: 0;
}

.section-faq {
  padding-top: 0;
  scroll-margin-top: 22rem !important;
}

footer {
  background: linear-gradient(to bottom, var(--color-secondary), var(--color-secondary-light));
}
