/* ----- Variables ----- */

:root {
  --color-primary: #000a5b;
  --color-primary-light: #0e1b80;
  --color-secondary: #4a7cd2;
  --color-secondary-light: #00b3d3;
  --color-dark-grey: #333333;
  --color-light-grey: #3f3f3f;
  --color-ultra-light-grey: rgb(138, 138, 138);
  --font-heading-primary: "Urbanist";
  --font-heading-secondary: "Urbanist";
  --font-buttons: "Inter";
  --font-body: "Inter";
}

/* BG Colors Classes */

.bg-white {
  background-color: white !important;
}

.bg-dark {
  background-color: var(--color-dark-grey) !important;
}

.bg-light-dark {
  background-color: var(--color-light-grey) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-primary-light {
  background-color: var(--color-primary-light) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-secondary-light {
  background-color: var(--color-secondary-light) !important;
}

.bg-section-contrast {
  background-color: #f0f6ff;
}

/* Text Colors Classes */

.text-white {
  color: white !important;
}

.text-dark {
  color: var(--color-dark-grey) !important;
}

.text-red {
  color: red !important;
}

.text-success {
  color: var(--color-secondary);
  display: none;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.text-light-dark {
  color: var(--color-light-grey) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-primary-light {
  color: var(--color-primary-light) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.text-secondary-light {
  color: var(--color-secondary-light) !important;
}

.bg-secondary-light {
  color: var(--color-secondary-light) !important;
}

.section-divider {
  width: 50px;
  height: 3px;
}

.ta-center {
  text-align: center;
}

.center-block {
  margin-left: 50%;
  transform: translateX(-50%);
}

/* ----- Global CSS ----- */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 55%;
  font-family: var(--font-body), sans-serif;
  overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

body {
  overflow-x: hidden;
}

section {
  padding: 8rem 0;
  scroll-margin-top: 10rem;
}

.section-scroll-margin-top {
  scroll-margin-top: 14rem;
}

.container {
  padding-right: 8px;
  padding-left: 8px;
}

.container-fluid {
  padding: 0;
}

@media screen and (min-width: 1400px) {
  .container-fluid-large {
    padding: 0rem 15rem;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}

.img-team {
  width: 300px;
  height: auto;
}

.img-fluid-w-radius {
  width: 100%;
  height: auto;
}

iframe {
  height: 300px;
}

/* ----- Body Elements ----- */

.icon-up {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  width: 3rem;
  height: auto;
  animation: levitate 1.5s ease-in-out infinite;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.137));
  cursor: pointer;
  z-index: 2;
  fill: var(--color-secondary);
}

.icon-whatsapp {
  position: fixed;
  right: 2rem;
  bottom: 9rem;
  width: 5rem;
  height: auto;
  z-index: 2;
  animation: pulseShadow 2s infinite ease-in-out;
  cursor: pointer;
  fill: var(--color-secondary);
}

@media screen and (min-width: 992px) {
  .icon-up {
    right: 4rem;
    bottom: 2rem;
    width: 3rem;
  }

  .icon-whatsapp {
    right: 2.3rem;
    bottom: 10rem;
    width: 6rem;
  }
}

/* ----- Keyframes ----- */

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes pulseShadow {
  0%,
  100% {
    filter: drop-shadow(2px 2px 5px rgba(0, 102, 255, 0.164));
  }
  50% {
    filter: drop-shadow(2px 2px 20px rgba(0, 102, 255, 0.514));
  }
}
