/* ----- TYPOGRAPHY ----- */

/* >>> H1 <<< */

h1 {
  font-family: var(--font-heading-primary), sans-serif;
  font-size: 4rem;
  font-weight: 600;
  animation: showH1 1000ms;
  letter-spacing: -1px;
  line-height: 5rem;
}

.h1-span1 {
  font-weight: 800;
  font-size: 5rem;
}

.h1-span2 {
  font-size: 2rem;
  display: block;
  line-height: 3rem;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .h1-span1 {
    font-size: 7rem;
  }

  .h1-span2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

/* >>> H1 END <<< */

/* >>> H2 <<< */

h2 {
  font-family: var(--font-heading-primary), sans-serif;
  font-size: 4.6rem;
  font-weight: 600;
}

h2 span {
  font-size: 14px;
  font-weight: 700;
  display: block;
}

@media screen and (min-width: 992px) {
  h2 span {
    font-size: 18px;
  }
}

.h2-whyus {
  font-size: 1.8rem;
  font-weight: 700;
}

.h2-braces {
  font-size: 4rem;
}

@media screen and (min-width: 992px) {
  .h2-braces {
    font-size: 6rem;
  }
}

/* >>> H2 END <<< */

/* >>> H3 <<< */

h3 {
  font-family: var(--font-heading-primary), sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.h3-card-services {
  font-weight: 700;
  font-size: 22px !important;
}

/* >>> H3 END<<< */

/* >>> H3 <<< */

h4 {
  font-family: var(--font-heading-primary), sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

/* >>> H3 END<<< */

/* >>> P <<< */

p {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 26px;
}

.p-13 {
  font-size: 14px;
  line-height: 24px;
}

blockquote {
  font-size: 14px;
  text-align: center;
}

/* >>> P END <<< */

/* ----- TYPOGRAPHY END----- */

@media screen and (min-width: 992px) {
  .text-title-section {
    font-size: 20px;
  }
}

.text-contact-quickbar {
  font-size: 16px;
  font-weight: 500;
}

.title-quick-contact {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.details-quick-contact {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-hero {
  font-size: 18px;
}

.text-counter {
  font-size: 6rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.text-counter span {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.text-review {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

.text-user {
  font-size: 18px;
  font-weight: 800;
  font-family: var(--font-heading-primary);
}

.text-question-faq {
  font-size: 16px;
  font-weight: 600;
}

.text-answer-faq {
  display: none;
  margin-top: 10px;
}

.text-contact {
  font-size: 18px;
  font-weight: 300;
}

.text-websiteshop {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}

.before-dot::before {
  content: "";
  display: inline-block;
  width: 10px;
  min-width: 10px;
  height: 10px;
  background-color: var(--color-primary);
  margin-right: 10px;
  border-radius: 50%;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.footer-title {
  font-size: 22px;
  font-weight: 700;
}

.nav-footer-list {
  list-style-type: none;
}

.nav-footer-list li {
  margin-bottom: 5px;
}

.nav-footer-link {
  text-decoration: none;
  font-size: 18px;
}
